<!DOCTYPE html>
{% extends 'jmphospitals/base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
</head>
{% block content %}
<body>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'image/ho.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'image/hos.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'image/hosp.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>





<!--    <div class="continer text-center bg-secondary">-->

<!--{% for i in Product %}-->

<!--<div class="card text-center mx-3 my-3" style="width: 18rem; display:inline-block  ">-->
<!--    <a href="{% url 'details' id=i.pro_id %}"><img src="{{ i.pro_image.url }}" style=" width:200px ; height:200px" ></a>-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">{{ i.pro_name }}</h5>-->
<!--    <h5 class="card-text text-muted">RS.{{ i.pro_prize }}</h5>-->
<!--  </div>-->
<!--</div>-->

<!--{% endfor %}-->
<!--    </div>-->


</body>
{% endblock %}
</html>
</html>