{% extends 'jmphospitals/base.html' %}
{% block title %}Title{% endblock %}
{% block content %}

<div class="container">
    <div class="row my-3">
        <div class="col-sm-6">
            <h3>login</h3>
            <hr>
            <form action="" method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                 {% for fm in form %}
                        {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                    <br>
                {% endfor %}
<!--                <small><a href="#">Forgot Password ?</a></small>-->
                <br>
                <input type="submit" class="btn btn-primary mt-4" value="Login">
                <div class="text-center text-primary fw-bold"><small>New User? <a href="{% url 'registration' %}" class="text-danger">Create an account?</a></small>
                </div>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3">{{error}}</p>
                    {% endfor %}
                {% endif %}
        </div>
    </div>
</div>
{% endblock content %}